---
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Nav from '../components/Nav/index.jsx';
---

<html lang="en">
	<head>
		<MainHead title="About | Jeanine White" description="About Jeanine White Lorem Ipsum" />
		<style lang="scss">
			.heroImg {
				/* border: ; */
				border-radius: 5rem;
				max-height: 100rem;
				object-fit: contain;
				overflow: hidden;

				img {
					height: 100%;
					width: 100%;
				}
			}
			body{
				background-color: #2b2a33;
			}
			h1 {
  // line-height: 1;
  // margin-bottom: 0.5em;
  display: block;
  font-weight: 700;
  font-size: var(--f-u4);
  color: #8babb6;
  // margin-top: 1.5rem;
  // margin-bottom: 1.5rem;
}
			.bio {
				font-size: var(--f-u1);
				line-height: 2;
			}
			p {
  line-height: 2;
  color: white;
  /* font-size: var(--f-u1); */
  // display: block;
  /* font-weight: 600; */
}
		</style>
	</head>
	<body>
		<Nav />
		<div class="wrapper">
			<h1>About René</h1>
			<div class="heroImg">
				<img width="1400" height="350" src="../../../public/assets/reneprofle.jpg" />
			</div>
			<div class="bio wrapper wrapper__readable mt8">
				<p>
					I am a person who always seeks to improve both professionally and personally. I like to learn new things, do different activities, my favorite hobbies are learning to play instruments, cooking, playing video games.
				</p>
				<p>
For me, a job is to make a responsibility deal with the company and offer the best of myself.
				</p>
<p>
Thank you for taking an interest in me :)
				</p>
			</div>
		</div>
		<Footer />
	</body>
</html>
