---
// Component Imports
import MainHead from '../components/MainHead.astro';
import {Skills} from '../components/Skills/index.jsx'
import { Principles } from '../components/Principles/index.jsx'

import { Contact } from '../components/Contact/index.jsx'

import Button from '../components/Button/index.jsx';
import Nav from '../components/Nav/index.jsx';
import Footer from '../components/Footer/index.jsx';
import PortfolioPreview from '../components/PortfolioPreview/index.jsx';



// Data Fetching: List all Markdown posts in the repo.
const projects = Astro.fetchContent('./project/**/*.md');
const featuredProject = projects[0];

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead title="Reneloper: Personal Site" description="René: Software engineer" />
		<style lang="scss">
			$w-s: 750px;

			.hero {
				position: relative;
				overflow: hidden;
				/* border-radius: 100px; */
				/* border-bottom-left-radius: 8rem;
				border-bottom-right-radius: 8rem; */

				@media (min-width: $w-s) {
					height: 45vw;
				}
			}

			.img {
				display: block;
				width: 100%;
				height: auto;
			}

			.gradient,
			.gradient2 {
				background-image: url('/assets/mesh-gradient.jpg');
				background-size: cover;
				pointer-events: none;
				mix-blend-mode: screen;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 2;
			}

			.gradient2 {
				mix-blend-mode: multiply;
				background-size: cover;
			}

			.overlay {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 10;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding-left: 2rem;

				@media (min-width: $w-s) {
					padding-left: 4rem;
				}
			}

			.title {
				font-weight: 900;
				font-size: var(--f-u8);
				margin-bottom: 0.5rem;
				margin-top: 0;

				@media (min-width: $w-s) {
					font-size: var(--f-u12);
				}
			}

			.grid {
				display: grid;
				grid-gap: 2rem;

				@media (min-width: 1200px) {
					grid-template-columns: 2fr 1fr;
				}
			}

			.sectionTitle {
				font-weight: 700;
				font-size: var(--f-u8);
				margin-top: 4rem;
				margin-bottom: 2rem;
				color: #90aab7;
			}

			.role {
				position: relative;
				display: inline-block;
				font-weight: 900;
				color: var(--t-bg);
				background-color: var(--t-fg);
				padding: 0.25em 0.5em;
				z-index: 2;

				@media (min-width: $w-s) {
					font-size: var(--f-u3);
				}

				+ .role {
					margin-left: 1em;
				}

				&:nth-of-type(1) {
					.invert {
						background-color: var(--c-pink);
					}
				}

				&:nth-of-type(2) {
					.invert {
						background-color: var(--c-blue);
					}
				}

				&:nth-of-type(3) {
					.invert {
						background-color: var(--c-green);
					}
				}

				&:hover {
					.invert {
						clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
					}
				}
			}

			.invert {
				position: absolute;
				color: var(--t-fg);
				display: flex;
				align-items: center;
				justify-content: center;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				pointer-events: none;
				clip-path: polygon(0% 100%, 100% 100%, 100% 200%, 0% 200%);
				transition: clip-path cubic-bezier(0.4, 0, 0.5, 1) 150ms;
			}

			.desc {
				font-size: var(--f-u2);
				margin-top: 1.5rem;
				margin-bottom: 0;
			}

			.subtitle {
				display: block;
				font-weight: 400;
				font-size: var(--f-d6);
				letter-spacing: -0.0625em;

			}

			body{
				background-color: #2b2a33;
			}
			/* h1,span {
				color: 
			} */

			.bio {
				line-height: 2;
				margin-bottom: 2rem;
				color: white;
				> span:first-of-type {
					line-height: 1;
					margin-bottom: 0.5em;
					display: block;
					font-weight: 700;
					font-size: var(--f-u4);
				}
			}

			.contactcontainer { 
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items:center;
			}

		</style>
	</head>
	<body>
		<Nav />
		<header class="hero">
			<img
				width="1600"
				height="1131"
				class="img"
				src="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75"
				srcSet="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 800w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1200&q=75 1200w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=1600&q=75 1600w,https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?w=2400&q=75 2400w"
				sizes="(max-width: 800px) 800px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, (max-width: 2400px) 2400px, 1200px"
			/>
			<div class="gradient"></div>
			<div class="gradient2"></div>
			<div class="overlay">
				<h1 class="title">
					<small class="subtitle">The personal site of </small>Luis René Panjón
				</h1>
				<div>
					<span class="role">👩‍💻 Software Engineer <span class="invert">👩‍💻 Software Engineer</span></span>&nbsp;
					<span class="role">🎸 Music lover <span class="invert">🎸 Music lover</span></span>
				</div>
				<p class="desc">Lover of technology, music, gastronomy.</p>
			</div>
		</header>
		<main class="wrapper mt4 mb4">
			<div class="grid">
				<div class="section">
					<h3 class="sectionTitle">Selected Work</h3>
					<PortfolioPreview project={featuredProject} />
					<div class="tac mt4">
						<a href="/projects">
							<!-- <Button  >View All</Button> -->
							<Button children> View all projects </Button>
						</a>
					</div>
				</div>
				<div class="section">
					<h3 class="sectionTitle">About me</h3>
					<p class="bio">
						<span>Hello!</span>I’m a person fascinated by the world of technology and constantly
							learning for it. Being able to generate solutions or make ideas
							come true is one of the things I like about my profession. My goal
							is to learn day by day, constantly improve both as a persona and
							as profesional. I want to highlight my principles that are responsability, honesty and ethics.
					</p>
					<p>
						<a href="/about">Read more</a>
					</p>
				</div>
			</div>

			<div class="grid">
				<div lass="section">
					<h3 class="sectionTitle">Skills</h3>
					<p class="bio">
						<Skills />
					</p>
				</div>
				<div lass="section">
					<h3 class="sectionTitle">Principles</h3>
					<p class="bio">
						<Principles />
					</p>
				</div>		
			</div>
			<div class="contactcontainer">
						<Contact />
			
			</div>
		</main>
		<Footer />
	</body>
</html>
